<div class="col-md-6 mt-3">
  <div class="form-group">
    <label for="rol"><b>Rol:</b></label>

    <input type="text" id="rol" name="rol" class="form-control <%= locals.errors
    && errors.rol ? "is-invalid" : null %>" value="<%= locals.oldData ?
    oldData.rol : null %>" /> <% if (locals.errors && errors.name) { %>
    <div class="text-danger"><%= errors.rol.msg %></div>
    <% } %>
  </div>
</div>

<div class="col-md-6 mt-3">
  <div class="form-group">
    <label for="seniority"><b>Seniority:</b></label>
    <input type="text" id="seniority" name="seniority" class="form-control <%=
    locals.errors && errors.seniority ? "is-invalid" : null %>" value="<%=
    locals.oldData ? oldData.seniority : null %>" /> <% if (locals.errors &&
    errors.name) { %>
    <div class="text-danger"><%= errors.seniority.msg %></div>
    <% } %>
  </div>
</div>
