<!DOCTYPE html>
<html lang="en">
  <head><%- include('../partials/head.ejs', {title: persona.name })%></head>

<body>
  <%- include('../partials/header.ejs')%>
  <img src="<%= persona.avatar %>" alt="<%= persona.name %>" class="img-thumbnail avatar" />
  <hr>
  <ul class="list-group">
    <li class="list-group-item"><strong>Nombre: </strong><%=persona.name%></li>
    <li class="list-group-item"><strong>Rol: </strong><%= persona.rol %></li>
    <li class="list-group-item"><strong>Seniority: </strong><%= persona.seniority %></li>
    <li class="list-group-item"><strong>Email: </strong><%= persona.email %></li>
    <li class="list-group-item"><strong>Proyectos: </strong>
      <ul>
        <% if ( persona.proyects.length <1) { %>
        <li> Sin proyectos asignados </li>
        <% } else { %>
        <% for (let i=0; i<persona.proyectsInfo.length ; i++) { %>
        <li>"<%= persona.proyectsInfo[i].name %>"</li>
        <% }} %>
      </ol>
    </li>
  </ul>
  <hr>
  <div class="buttonPanel">
    <form action="/personal" method="GET">
      <button type="submit" class="btn btn-primary">Volver</button>
    </form>

    <form action="/personal/edit/<%= persona.id %>" method="GET">
      <button type="submit" class="btn btn-info">Modificar</button>
    </form>

    <% if (persona.active === true) { %>
     <form action="/personal/softdelete/<%= persona.id %>" method="GET">
        <button type="submit" class="btn btn-warning">Eliminar (Pasar a Inactivos)</button>
      </form>
    <% } %>
    

      <% if (persona.active === false) { %>
        <form action="/personal/delete/<%= persona.id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger" onclick="confirmation()">Eliminar definitivamente</button>
    </form>
      <% } %>
   
  </div>
</body>
<script>
  function confirmation() {
    var result = confirm("No quedará ningún registro... Estás seguro?")
    if(result){console.log("La eliminación definitiva ha sido exitosa");}
  }
</script>

</html>