<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: " - Personal update" })%>

<body>
  <%- include('../partials/header.ejs')%>
  <div class=".container">
    <div class="row justify-content-center bt-3">
      <div class="col-md-10 mt-3">
        <h2>Actualizaci칩n de registro</h2>

        <form action="/personal/update/<%= personalToEdit.id %>?_method=PATCH" method="POST"
          enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="name"><b>Nombre completo:</b></label>
                <input type="text" name="name" class="form-control <%=
                  locals.errors && errors.name ? "is-invalid" : null %>" value="<%= personalToEdit.name %>" />
                <% if (locals.errors && errors.name) { %>
                <div class="text-danger"><%= errors.name.msg %></div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="email"><b>Correo electr칩nico:</b></label>
                <input type="text" name="email" class="form-control <%=
                  locals.errors && errors.email ? "is-invalid" : null %>" value="<%= personalToEdit.email %>" /> <%
                  if(locals.errors && errors.email) { %>
                <div class="text-danger"><%= errors.email.msg %></div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="rol"><b>Rol:</b></label>
                <input type="text" name="rol" class="form-control <%=
                  locals.errors && errors.rol ? "is-invalid" : null %>" value="<%= personalToEdit.rol %>" /> <% if
                  (locals.errors && errors.rol) { %>
                <div class="text-danger"><%= errors.rol.msg %></div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="password"><b>Contrase침a:</b></label>
                <input type="password" name="password" class="form-control <%=
                  locals.errors && errors.password ? "is-invalid" : null %>" />
                <% if (locals.errors && errors.password) { %>
                <div class="text-danger"><%= errors.password.msg %></div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="seniority"><b>Seniority:</b></label>
                <input type="text" name="seniority" class="form-control <%=
                  locals.errors && errors.seniority ? "is-invalid" : null %>"
                  value="<%= personalToEdit.seniority %>" /> <%
                  if (locals.errors && errors.name) { %>
                <div class="text-danger"><%= errors.seniority.msg %></div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="repeatPassword"><b>Repetir Contrase침a:</b></label>
                <input type="password" name="repeatPassword" class="form-control <%= locals.errors && errors.repeatPassword
                  ? "is-invalid" : null %>" /> <% if (locals.errors &&
                  errors.repeatPassword) { %>
                <div class="text-danger">
                  <%= errors.repeatPassword.msg %>
                </div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="avatar"><b>Imagen de Perfil:</b></label>
                <input type="file" name="avatar" class="form-control <%=
                  locals.errors && errors.avatar ? "is-invalid" : null %>" /> <%
                  if (locals.errors && errors.avatar) { %>
                <div class="text-danger"><%= errors.avatar.msg %></div>
                <% } %>
              </div>
            </div>

            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label for="proyects" class="form-check-label"><b>Proyectos involucrado:</b></label>

                <% for(let i=0; i<datosProyectos.length; i++){ %>
                <div>
                  <a href="/proyectos/detail/<%= datosProyectos[i].id %>"
                    class="list-group-item list-group-item-action">
                    <input type="checkbox" name="proyects" id="proyects" class="form-check-input"
                      value="<%= datosProyectos[i].name %>" <%=  typeof personalToEdit.proyects == "string" ? 
                      personalToEdit.proyects == datosProyectos[i].name ? "checked" : ""  : 
                      personalToEdit.proyects[i] == datosProyectos[i].name ? "checked" : "" %> />
                    <%= datosProyectos[i].name %>
                    <% } %></a>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="buttonPanel">
            <a href="/personal/detail/<%= personalToEdit.id %>" class="btn btn-primary">Volver</a>
            <button type="submit" class="btn btn-success">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>