<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: personalToEdit.name })%>
  <body>
    <%- include('../partials/header.ejs')%>
  <form action="/personal/update/:id?_method=PUT" method="POST">
      <label for="name">
        Nombre:
        <input type="text" name="name" value=<%=personalToEdit.name%> />
      </label>
      <br />
      <label for="rol"> Rol: <input type="text" name="rol" value=<%= personalToEdit.rol %> /> </label>
      <br />
      <label for="seniority">
        Seniority:
        <input type="text" name="seniority" value="<%= personalToEdit.seniority %> " />
      </label>
      <br />
      <input type="submit" value="Actualizar"/> 
    </form>
</body>
</html>