<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', {title: proyect.name })%>
  </head>

  <body>
    <%- include('../partials/header.ejs')%>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>Proyecto: </strong><%= proyect.name%>
      </li>
      <li class="list-group-item">
        <strong>Descripción: </strong><%= proyect.description %>
      </li>
      <li class="list-group-item">
        <strong>Manager: </strong><%= proyect.manager.name %>
        <br />
        <img src="<%=proyect.manager.avatar%>" class="avatar" alt="perfil-del-manager" />
      </li>
      <li class="list-group-item">
        <strong>Estado: </strong><%= proyect.condition %>
      </li>
      <li class="list-group-item">
        <strong>Inicio: </strong><%= proyect.dateStart %>
      </li>
      <li class="list-group-item">
        <strong>Fin: </strong><%= proyect.dateEnd %>
      </li>
      <li class="list-group-item">
        <strong>URL: </strong>
        <a href="<%= proyect.link %>" target="_blank" rel="nooper noreferrer"
          ><%= proyect.link %></a
        >
      </li>
      <li class="list-group-item">
        <strong>Observaciones: </strong><%= proyect.observations %>
      </li>
      <li class="list-group-item">
        <strong>Involucrados: </strong>
        <ol>
          <% if ( proyect.involved.length <1) { %>
          <li>Sin personal asignado</li>
          <% } else { %> <% for( let i = 0; i < proyect.involved.length; i++ ){%>
          <li><%= proyect.involved[i].name %></li>
          <ul> 
            <% for (let j = 0; j < proyect.projectsInfo.length; j++){ %>
                <% if (((proyect.projectsInfo[j].person).toString()).slice(1) == ((proyect.involved[i]._id).toString()).slice(1)) { %>
               
               <li>Nivel: <%=proyect.projectsInfo[j].nivel %></li> 
                <li>Porcentaje asignación por contrato: <%=proyect.projectsInfo[j].porcAsigXContrato%></li>
               <li>Porcentaje asignación real: <%=proyect.projectsInfo[j].porcAsigReal%></li>
               <li>Horas mensuales por contrato: <%=proyect.projectsInfo[j].hsMensXContrato%></li>
               <li>Horas reales: <%=proyect.projectsInfo[j].hsReales%></li>
               <li>Observaciones: <%=proyect.projectsInfo[j].observationsUser%></li>
              
                
            <% }} %>
        </ul>
          <% }} %>
        </ol>
      </li>
    </ul>

    <div class="buttonPanel">
      <form action="/proyectos" method="GET">
        <button type="submit" class="btn btn-primary">Volver</button>
      </form>

      <form action="/proyectos/edit/<%= proyect.id %>" method="GET">
        <button type="submit" class="btn btn-info">Modificar</button>
      </form>

      <% if (proyect.active === true) { %>
      <form action="/proyectos/softdelete/<%= proyect.id %>" method="GET">
        <button type="submit" class="btn btn-warning">
          Eliminar (Pasar a Inactivos)
        </button>
      </form>
      <% } %> <% if (proyect.active === false) { %>
      <form
        action="/proyectos/delete/<%= proyect.id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit" class="btn btn-danger" onclick="confirmation()">
          Eliminar definitivamente
        </button>
      </form>
      <% } %>
    </div>

    <footer><%- include('../partials/footer.ejs')%></footer>
  </body>
  <script>
    function confirmation() {
      var result = confirm("No quedará ningún registro... Estás seguro?");
      if (result) {
        console.log("La eliminación definitiva ha sido exitosa");
      }
    }
  </script>
</html>
