<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: proyect.name })%>

  <body>
    <%- include('../partials/header.ejs')%>

    <ul class="list-group">
      <li class="list-group-item"><%= proyect.name%></li>
      <li class="list-group-item"><%= proyect.description %></li>
      <li class="list-group-item"><%= proyect.manager %></li>
      <li class="list-group-item"><%= proyect.condition %></li>
      <li class="list-group-item"><%= proyect.dateStart %></li>
      <li class="list-group-item"><%= proyect.dateEnd %></li>
      <li class="list-group-item">
        <a href="<%= proyect.link %>" target="_blank" rel="nooper noreferrer"
          ><%= proyect.link %></a
        >
      </li>
      <li class="list-group-item">
        <ol>
          <% if ( proyect.involved.length <1) { %>
          <li>Sin personal asignado</li>
          <% } else { %> <% for( let i = 0; i < proyect.involved.length; i++ ) {
          %>
          <li><%= proyect.involved[i].name %></li>
          <% }} %>
        </ol>
      </li>
    </ul>

    <div class="buttonPanel">
      <form action="/proyectos" method="GET">
        <button type="submit" class="btn btn-primary">Volver</button>
      </form>

      <form action="/proyectos/edit/<%= proyect.id %>" method="GET">
        <button type="submit" class="btn btn-info">Modificar</button>
      </form>

      <% if (proyect.active === true) { %>
      <form action="/proyectos/softdelete/<%= proyect.id %>" method="GET">
        <button type="submit" class="btn btn-warning">Eliminar</button>
      </form>
      <% } %> 
      
      <% if (proyect.active === false) { %>
      <form
        action="/proyectos/delete/<%= proyect.id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit" class="btn btn-danger" onclick="confirmation()">Eliminar definitivamente</button>
      </form>
      <% } %>
    </div>
  </body>  
<script>
  function confirmation() {
    var result = confirm("No quedará ningún registro... Estás seguro?")
    if(result){console.log("La eliminación definitiva ha sido exitosa")}
  }
</script>
</html>
