<!DOCTYPE html>
<html lang="en">
  <head><%- include('../partials/head.ejs', {title: "" })%></head>
  
  <body>
    <%- include('../partials/header.ejs')%>
    <label for="active" class="labels-list"> Proyectos: </label>
      <ul class="list-group" id="active">
      <% for( let i = 0; i < listado.length; i++ ) { %>
       <% if(listado[i].active === true){ %>
      <li>
        <a
          href="/proyectos/detail/<%= listado[i].id %>"
          class="list-group-item list-group-item-action"
          ><%= listado[i].name %></a
        >
      </li>
      <% }} %>
    </ul>

    <br />
    <br />

    <% if (locals.userLogged.admin) { %>
    <label for="inactive" class="labels-list"> Proyectos Inactivos: </label>
    <ul class="list-group" id="inactive">
      <% for( let i = 0; i < listado.length; i++ ) { %> <% if(listado[i].active
      === false){ %>

      <li>
        <a
          href="/proyectos/detail/<%= listado[i].id %>"
          class="list-group-item list-group-item-action"
          ><%= listado[i].name %></a
        >
      </li>

      <% } %> <% } %>
    </ul>
    <% } %>

    <br />
    <br />

    <div class="buttonPanel">
      <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">Volver</button>
      </form>
      <form action="/proyectos/register" method="GET">
        <button type="submit" class="btn btn-success">Nuevo proyecto</button>
      </form>
    </div>
  </body>
</html>
