<!DOCTYPE html>
<html lang="en">

<head><%- include('../partials/head.ejs', {title: "" })%></head>

<body>
  <%- include('../partials/header.ejs')%>
  <div class="container">

    <form action="/proyectos/register" method="POST" class="row g-3 needs-validation mt-3" novalidate>

      <div class="dataParent">

      <div class="input-group mb-3 dataChild">
        <span class="input-group-text">Nombre:</span>
        <input type="text" name="name" class="form-control <%= locals.errors && errors.name ? "is-invalid" : null %>"
          value="<%= locals.oldData ? oldData.name : null %>">
        <% if(locals.errors && errors.name) { %>
        <div class="text-danger"><%= errors.name.msg %></div>
        <% } %>
      </div>

      <div class="input-group mb-3 dataChild">
        <span class="input-group-text">URL:</span>
        <input type="url" name="link" class="form-control">
      </div>

      <div class="input-group mb-3 dataChild">
        <span class="input-group-text">Gestor:</span>
        <select name="manager" class="form-control">
          <option value="sinAsignar" <%= locals.oldData && oldData.manager === "sinAsignar" ? "selected" : " " ; %>>
            Elige uno:</option>
          <% for (let i=0; i<personal.length ; i++) { %>
          <% if(personal[i].rol == "Gestor de proyectos"){ %>
          <option value="<%= personal[i].id %>" <%= locals.oldData && oldData.manager === 
            personal[i].name %> ? "selected" : " " ; %>> <%= personal[i].name %> </option>
          <% }} %>
        </select>
        <% if(locals.errors && errors.manager) { %>
        <div class="text-danger"><%= errors.manager.msg %></div>
        <% } %>
      </div>

      <div class="input-group mb-3 dataChild">
        <span class="input-group-text">Estado:</span>
        <select class="form-control" name="condition">
          <option value="sinAsignar" <%= locals.oldData && oldData.condition === "sinAsignar" ? "selected" : " " ; %>>
            Elige uno:</option>
          <% for (let i=0; i<estados.length ; i++) { %>
          <option value="<%= estados[i] %>"
            <%= locals.oldData && oldData.condition === estados[i] ? "selected" : " " ; %>>
            <%= estados[i] %> </option>
          <% } %>
        </select>
        <% if(locals.errors && errors.condition) { %>
        <div class="text-danger"><%= errors.condition.msg %></div>
        <% } %>
      </div>

      <div class="input-group mb-3 dataChild">
        <span class="input-group-text">Fecha de inicio:</span>
        <input type="date" class="form-control" name="dateStart">
        <% if (locals.errors && errors.dateStart) { %>
        <div class="text-danger"><%= errors.dateStart.msg %></div>
        <% } %>
      </div>

      <div class="input-group mb-3 dataChild">
        <span class="input-group-text">Fecha fin:</span>
        <input type="date" class="form-control" name="dateEnd">
      </div>

      <div class="input-group dataChild">
        <span class="input-group-text">Descripci贸n:</span>
        <textarea class="form-control <%= locals.errors && errors.description ? "is-invalid" : null %>"
          name="description" rows="3"></textarea>
        <% if  (locals.errors && errors.description) { %>
        <div class="text-danger"><%= errors.description.msg %></div>
        <% } %>
      </div>

      <div class="input-group dataChild">
        <span class="input-group-text">Observaciones:</span>
        <textarea class="form-control <%= locals.errors && errors.observations ? "is-invalid" : null %>"
          name="observations" rows="3"></textarea>
        <% if  (locals.errors && errors.observations) { %>
        <div class="text-danger"><%= errors.observations.msg %></div>
        <% } %>
      </div>

      </div>

      <h4><strong>Personal Asignado:</strong></h4>
      <div class="extraDataParent">
        <% for (let i=0; i<personal.length; i++) { %>

        <% if(personal[i].rol != "Gestor de proyectos"){ %>

        <div class="extraDataChild">

          <div class="input-group-text mb-3">
            <span class="input-group-text"><%= personal[i].name %> - <%= personal[i].rol %></span>
            <input class="" type="checkbox" name="involved" value="<%= personal[i]._id %>">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Nivel en relaci贸n al proyecto:</span>
            <input type="text" name="nivel" class="form-control">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Asignaci贸n por contrato:</span>
            <select id="<%= "porcAsigXContrato" + [i] %>" name="porcAsigXContrato" class="form-control">
              <% for (let j=100; j>=0 ; j-=5) { %>
              <option value="<%= [j] %>"><%= [j] %>%</option>
              <% } %>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Asignaci贸n real:</span>
            <select id="<%= "porcAsigReal" + [i] %>" name="porcAsigReal" class="form-control">
              <% for (let j=100; j>=0 ; j-=5) { %>
              <option value="<%= [j] %>"><%= [j] %>%</option>
              <% } %>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Hs. mensuales por contrato:</span>
            <input type="number" name="hsMensXContrato" class="form-control">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Horas reales:</span>
            <input type="number" name="hsReales" class="form-control">
          </div>

          <div class="input-group">
            <span class="input-group-text">Observaciones:</span>
            <textarea class="form-control" name="observationsUser" rows="2"></textarea>
          </div>

        </div>

        <% } }%>
      </div>

      <div class="buttonPanel">
        <a href="/proyectos" class="btn btn-primary">Volver</a>
        <button type="submit" class="btn btn-success">
          Guardar Proyecto
        </button>
      </div>     

    </form>
  </div>
</body>

</html>