<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: " - Search" })%>

<body>
  <%- include('../partials/header.ejs')%>
  <h2>Proyectos que coinciden con: <%= loQueBuscoElUsuario %> </h2>

  <ul class="list-group">
    <% for (let i=0; i<results.length; i++){ %>
    <li>
      <a href="/proyectos/detail/<%= results[i].id %>"
        class="list-group-item list-group-item-action"><%= results[i].name %>
      </a>
    </li>
    <% } %>
    <% if (results.length == 0) { %>
    <li> No se encontraron coincidencias </li>
    <% } %>

  </ul>




</body>

</html>